* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.header {
  background-color: #F41D12;
  color: #ffffff;
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.logo {
  height: 30px;
  width: 30px;
}

.display {
  padding: 12px;
  height: 100%;
}

.item {
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  margin-bottom: 12px;
}

.item > .left-container,
.item > .right-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.item .icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.item button {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority-low {
  border-left: 5px solid #008000;
}

.priority-medium {
  border-left: 5px solid #ffe600;
}

.priority-high {
  border-left: 5px solid #cf0000;
}

.add-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #F41D12;
  border-radius: 50%;
  border: none;
  box-shadow: 5px 5px 12px #00000040;
  padding: 14px;
}

.add-button img {
  height: 100%;
  width: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  pointer-events: none;
  opacity: 0;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.new-item-form {
  border: 1px solid #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 12px;
  width: 460px;
  height: 300px;
}

.new-item-form.active {
  transform: translate(-50%, -50%) scale(1);
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  border: none;
  background: none;
  cursor: pointer;
}

.form-header img {
  height: 16px;
  width: 16px;
}

.new-item-form input,
.new-item-form textarea {
  padding: 2px 6px;
}

.form-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.form-row-1 #new-title {
  flex: 1;
}

.form-row-2 #new-description {
  width: 100%;
}

.form-row-3,
.form-row-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.form-row-3 label,
.form-row-4 p {
  font-size: 14px;
}

.priority-radio {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 4px;
}

.form-submit-button {
  padding: 2px 4px;
  width: 70px;
  align-self: center;
}


/*
.content {
  display: flex;
  height: 100%;
}

.navbar {
  background-color: #f3f3f3;
  padding: 12px;
  width: 25%;
}

.new-item-form.active {
  transform: scale(1);
}


.form-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
*/