* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #F41D12;
  color: #ffffff;
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.logo {
  height: 30px;
  width: 30px;
}

.content {
  display: flex;
  height: 100%;
}

.navbar {
  background-color: #f3f3f3;
  padding: 12px;
  width: 25%;
}

.display {
  width: 75%;
  padding: 12px;
}

.to-do-item {
  border: 1px solid #000000;
  border-left: 5px solid #008000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  margin-bottom: 12px;
}

.to-do-item > .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.to-do-item > .right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}